/****** desktop view ************/

@media screen and (min-width: 768px) {
  #wrapper {
    max-width: 512px;
    min-width: 768px;
    padding: 1rem;
    margin: 2rem auto 2rem;
    min-height: 90vh;
    border-radius: 0.75rem;
    border: var(--primary-300) solid 0.25rem;
  }

  #information {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  #heroImgWrapper {
    width: 70%;
  }

  #floaterCTA {
    top: 2rem;
    left: 2rem;
  }

  #detailWrapper {
    display: flex;
    flex-direction: row;
  }

  #detailImage {
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  #detailPriceBlock {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }
}
