<!-- Content Heading -->
<% if (title) { %>
<h1 class="contentHeader"><%= title %></h1>
<% } else { res.redirect('/') } %>
<!-- message section -->
<%# messages() %>
<!-- items display -->
<%- grid %>
